
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-toggle {
  color: #fff !important;
  position: relative;

}
.navbar-brand{
    font-size: 35px;
    font-weight: 500;
    padding-left: 15px;
}
.navbar{
    z-index: 10;
}
.navbar.scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.navbar-nav{

    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .dropdown-toggle {
  background-color: #000000 !important;
}

.navbar-toggler i {
  color: #fff;
}

.navbar.scrolled .navbar-toggler i {
  background-color: #000;
}
.link-active {
    color: #0078ff !important;
    background-color: transparent !important;
}
.About-me{
      padding-top: 70px;
}
.About-me .shadow1 {
  
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .3);
}
.services{
padding-top: 75px;
padding-bottom: 70px;
}
.services .item{
    border-radius: 20px;
}
.services .item span {
    display: inline-block;
    border-radius: 50%;
    border: 9px solid #0078ff;
    margin-bottom: 1rem;
    transition: background-color .5s;
}


.box-service:hover .icon-circle {
  background: #0d6efd;
  border: 9px solid rgba(221, 221, 248, 0.967);
}

.box-service:hover .icon-circle i {
  color: #fff;
}

.numbers{
    
    position: relative;
    background-image: url(./imges/post-3.jpg);
    background-size: cover;
    background-position: center center;
    padding: 8rem 0;
    color: #fff;
    margin-bottom: 70px;
    /* z-index: 10; */
}
.numbers .overlay{
    background-color: #0078ff;
    opacity: .7;
}
.numbers .icon-circle{
 
    border-radius: 50%;
    border: 8px solid #cde1f8;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px;
  
    
}
.details-h5{
    font-size: 35px;
    margin-top: 20px;
    
}      
.details-p{
    font-size: 18px;
}       
.portfolio .por-item:hover img {
    transform: scale(1.3) ;
    transition: .5s ease;
}